<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209014379745-44ecimeje5svqgec7uu5il0d6av0hj86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209014379745-44ecimeje5svqgec7uu5il0d6av0hj86</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209014379745-vuve2ql0cfmsr1197p31sasm5n67kn0o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1JSYIYwjXmOh1Fj4vlt2dketRYIFlkhI</string>
	<key>GCM_SENDER_ID</key>
	<string>209014379745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kodega.ptracker</string>
	<key>PROJECT_ID</key>
	<string>ptracker-39b6b</string>
	<key>STORAGE_BUCKET</key>
	<string>ptracker-39b6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209014379745:ios:7d008905f10da53f0513a0</string>
</dict>
</plist>